@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--CORNER-RADIUS: 1rem;
	--PADDING: 1rem;
	--PADDING-2: 2rem;
}

body {
	font-family: "Poppins", sans-serif;
	font-weight: 300;
	line-height: 1.5;
	color: white;

	background-color: #09224a;
	background-image: linear-gradient(to bottom right, #0a3060, #000);
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
	min-width: 100vw;
}

header {
	margin-left: var(--PADDING-2);
	margin-top: var(--PADDING-2);
	margin-bottom: -1rem;
}

main {
	padding: var(--PADDING);
	width: min(70rem, 100%);
}

aside {
	padding: var(--PADDING);
	display: grid;
	gap: var(--PADDING);
	width: 100%;
}

.main-wrapper {
	padding: var(--PADDING);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

/* Text */
.text-head {
	font-size: 1.5rem;
}

.text-sub {
	font-size: 1rem;
	font-weight: 200;
}

/* Main */
main textarea {
	background-color: hsla(0, 0%, 100%, 0.05);
	color: inherit;

	width: 100% !important;

	border-radius: var(--CORNER-RADIUS);
	border: none;
	font-family: inherit;
	font-weight: 300;
	font-size: 1rem;
	letter-spacing: 1px;

	padding: var(--PADDING);

	transition: box-shadow 300ms ease-in-out;
}

main textarea:active,
main textarea:focus {
	background-color: hsla(0, 0%, 100%, 0.07);
	border: none;
	outline: none;
	box-shadow: 10px 5px 2rem hsla(0, 0%, 0%, 0.3);
}

main textarea::placeholder {
	font: inherit;
	color: inherit;
	opacity: 0.5;
}

/* Card */
.card {
	background-color: hsla(0, 0%, 100%, 0.05);
	border-radius: var(--CORNER-RADIUS);
	padding: var(--PADDING);

	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: var(--PADDING);

	margin-bottom: auto;

	& .heading {
		display: flex;
		gap: var(--PADDING);
		grid-column: 1 / 3;
	}
}

.card-sub {
	background-color: hsla(0, 0%, 100%, 0.05);
	border-radius: var(--CORNER-RADIUS);
	padding: var(--PADDING);
	transition: transform 0.3s ease-in-out;
}

.card-sub:hover {
	transform: scale(1.05);
}

/* Footer */
footer {
	margin-bottom: var(--PADDING-2);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;
	color: rgba(255, 255, 255, 0.3);

	& a {
		color: rgba(255, 255, 255, 0.3);
	}
	& a:hover {
		color: white;
	}
}

footer div {
	display: flex;
	gap: 1rem;
}

/* Tool Tip */
.tooltip {
	position: relative;
}

.tooltip .tooltiptext {
	visibility: hidden;
	background-color: rgba(0, 0, 0, 0.2);
	color: #5e5e5e;
	font-size: 0.7rem;

	border-radius: var(--CORNER-RADIUS);
	padding: var(--PADDING);

	position: absolute;
	top: 110%;
	left: 0;
	z-index: 1;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}

/* Media Queries */
@media only screen and (min-width: 768px) {
	aside {
		grid-template-columns: 1fr 1fr;
	}
}

@media only screen and (min-width: 70rem) {
	aside {
		grid-template-columns: 1fr;
		max-width: 30rem;
	}
	.main-wrapper {
		flex-direction: row;
	}
	main textarea {
		height: 85vh;
	}
}